:root{
    --primary-color: #201d83;
    --secondary-color: #f402ac;
    --large-background: #030305;
    --main-shadow:  #c401c7;
    --main-container: #d39bda;
}

* {
    padding: 0;
    margin: 0;
}

.background-container{
    min-height: 100vh;
    background-color: var(--large-background);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#shadow{
    background-color: var(--main-shadow);
    position: relative;
    border-radius: 25px;
    z-index: 0;
    height: 28em;
    width: 45em;
    opacity: .05;
    top: 12em;
    
}

.main-container{
    background-color: #322db6;
    position: absolute;
    z-index: 9999;
    height: 43em;
    width:28em;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25em;
    color: black;
    font-weight: 700;
    font-family:"Roboto", sans-serif;;
}

a{
    color: var(--main-container);
}

a:visited{
    color: var(--secondary-color);
}

#rhea{
    margin: 1em 0 2em 0;
}

#mami {
    border-radius: 50%;
    height: 6em;
    width:6em;
    margin-top: 2em;
    margin-bottom: -1em;
    border: .75em solid black;
    transition: all 1000ms ease;
}

#mami:hover{
    border: .75em dashed var(--main-container);
    rotate: 360deg;
}

.welcome {
    font-family: "Protest Revolution", sans-serif;
    font-size: 2em;
    text-align: center;
    color: var(--main-container);
}

#judgement-day{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
        & h2{
            color: var(--main-container);
            top:-10px;
            font-size: 2em;
            font-family: "Protest Revolution", sans-serif;
            font-weight: 400;
            letter-spacing: 2px;
        }
    
        & #wings{
            height: 5em;
            width: 28em;
            position: absolute;
            bottom: -10px;
            z-index: -1;
            
        }
}

.user-stats{
    margin-top: 1em;
    background-color: #403af0a6;
    padding: 10px;
    border-radius: 10px;
}

.name-input-container{
    display: flex;
    flex-direction: column;
    gap: .5em;

     input{
        width:24em;
        height:3.5em;
        background-color:  #d39bdab2;
        border: 1px solid var(--primary-color);
        border-radius: 10px;
        padding-left: 20px;
        font-weight: 700;
        outline: none;
    }

     ::placeholder{
        color: #201d83cb;
        font-size: 1.1em;
        font-weight: 700;
    }
}

.tos-container{
    display: flex;
    gap: 1em;
    align-items: center;
    width: 21em;
    letter-spacing: .5px;

     .checkbox{
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1;
        font-size: 1.25rem;
        height: 1.5em;
        border-radius: 5px;
        background-color: var(--main-container);
        color: var(--primary-color);
        border: 1px solid var(--primary-color);
        user-select: none;
    }

    .checkbox:hover{
        cursor: pointer;
    }

    span{
        margin-top: 10px;
        font-size: .85em;
    }
}

.continue-btn{
    width: 24em;
    height: 4em;
    border-radius: 10px;
    outline: none;
    border:1px solid var(--secondary-color);
    color:black;
    font-weight: 800;
    background-color: var(--secondary-color);
    margin: 1.5em 0;
    transition: all 500ms ease;
}

.continue-btn:hover{
    cursor: pointer;
    scale: 1.1;
    background-color: var(--primary-color);
    border:1px solid var(--primary-color);
}

.continue-btn:active{
    scale: 1;
    background-color: var(--main-container);
}

#account{
    font-size: .75em;
}